html
{
    height: 100%;
}

body
{
    background-color: #6e6e6e;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

#header
{
    padding: 0 5px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.45);
    color: lightgray;
    border-bottom: 1px solid black;
    position: absolute;
}

.selector-container
{
    height: 100%;
    display: flex;
    align-items: center;
}

.selector-container select
{
    height: 100%;
    border: none;
    color: whitesmoke;
    border-radius: 0;
    padding: 6px;
    outline: none;
    flex-basis: 100%;
    font-family: sans-serif;
    font-size: 100%;
    appearance: none;
    cursor: pointer;
    background-color: inherit;
}

.selector-container select option,
.selector-container select optgroup
{
    background-color: dimgray;
    color: whitesmoke;
}

.selector-container .selector-tag
{
    background-color: inherit;
    border: none;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: inherit;
}

#content
{
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}

#sample-selector-container
{
    flex-grow: 1;
}

@media only screen and (max-width: 600px)
{
    #renderer-selector-container
    {
        display: none !important;
    }
    
    #sample-selector-container
    {
        width: 100% !important;
    }
}
