#sample-container
{
    margin: 0;
    overflow: hidden;
    background-color: rgb(143, 143, 143);
    color: lightgray;
}

#loading-bar
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 100%;
    z-index: 1000;
    font-style: italic;
    color: lightgray;
}

#loading-bar .fas
{
    color: white;
    font-size: 125%;
}

#loading-bar .spin
{
    animation: fa-spin 2s infinite linear;
}

body
{
    background-color: rgb(110, 110, 110);
    margin: 0px;
    text-align: center;
    overflow: hidden;
    font-family: sans-serif;
}

/* Upscale the n-gon renderer's output with nearest-neighbor interpolation.*/
.rngon-pixelated-upscale
{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-crisp-edges;
}

/* Styling for the canvas element that holds the n-gon rendering.*/
.rngon-canvas
{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0px;
}

.notice
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 25px;
    background-color: black;
    color: white;
}

.infoboxes-container
{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
}

/* For infoboxes created by individual samples.*/
.infoboxes-container.additional
{
    width: 100%;
    justify-content: center;
    top: unset;
    bottom: 35px;
    pointer-events: none;
}

.infoboxes-container .infobox + .infobox
{
    margin-left: 10px;
}

.infobox
{
    border: 1px solid black;
    line-height: 20px;
    pointer-events: initial;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 90px;
    height: 60px;
    background-color: #8f8f8f;
    color: black;
    justify-content: center;
    align-items: center;
}

.infoboxes-container.additional .infobox
{
    width: 150px;
    height: 75px;
    line-height: 21px;
}

.infobox > .title
{
    text-align: center;
}

.infobox > .value
{
    font-weight: bold;
    text-align: center;
    margin: 0 5px;
}

.infobox > .adjust
{
    font-size: 75%;
    cursor: pointer;
    padding: 5px 15px;
    font-weight: bold;
    position: absolute;
    transform: translateY(-50%);
    color: white;
}

.infoboxes-container.additional > .infobox > .adjust
{
    font-size: 100%;
}

.infoboxes-container.additional > .infobox > .title
{
    margin-bottom: 2px;
}

.infobox > .adjust.left
{
    left: 0;
    top: 50%;
}

.infobox > .adjust.right
{
    right: 0;
    top: 50%;
}

.infobox > .adjust::before
{
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
}

.infobox > .adjust.left::before
{
    content: "\f053";
}

.infobox > .adjust.right::before
{
    content: "\f054";
}

@media only screen and (max-width: 1200px)
{
    .infoboxes-container.additional
    {
        bottom: 25px;
    }
}

@media only screen and (max-width: 1000px)
{
    .infoboxes-container.additional
    {
        bottom: 10px;
        right: 10px;
        width: unset;
    }
}
