body
{
    margin-top: 10px;
    text-align: center;
    background-color: #222222;
    color: rgb(109, 109, 109);
}

table
{
    color: black;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
    border-collapse:collapse;
    width: 250px;
}

table td, th
{
    padding: 10px;
    border: none;
}

.pass
{
    background-color: rgb(60, 179, 96);
}

.fail
{
    background-color: crimson;
}
