body
{
    margin-top: 1rem;
    text-align: center;
    background-color: black;
    color: lightgray;
}

table
{
    color: black;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
    border-collapse:collapse;
}

tr.fail:hover
{
    outline: 2px solid white;
    border-radius: 3px;
}

th
{
    background-color: transparent;
    color: white;
}

td, th
{
    padding: 1rem;
    border: none;
}

td:first-child
{
    font-weight: bold;
}

th
{
    padding-left: 0;
}

.pass
{
    background-color: rgb(60, 179, 96);
}

.fail
{
    background-color: crimson;
    color: white;
}
